<app-flight-book></app-flight-book>
<div>
  <form>
    <textarea
      id="textarea2"
      class="col-md-5 offset-3 form-control"
      id="autocomplete"
    ></textarea>
  </form>
</div>
<button>Hello</button>
