<h1>{{ title }}</h1>

<app-header> </app-header>
<!-- app-login></app-login -->
<router-outlet></router-outlet>

<!-- <pagination-controls (pageChange)="p = $event"></pagination-controls> -->
<ngx-spinner></ngx-spinner>
