<nav class="navbar navbar-expand-lg navbar-dark bg">
  <a class="navbar-brand" href="#">Flight Booking System</a>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a
          class="nav-link"
          routerLink="/home"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }"
          >Home <span class="sr-only">(current)</span></a
        >
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/bookhistory" routerLinkActive="active"
          >Booking History</a
        >
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <a
        ><button
          *ngIf="!loggeduser"
          class="btn btn-outline-success my-2 my-sm-0"
          type="submit"
          (click)="onLogin()"
        >
          Login
        </button></a
      >
      <a
        ><button
          *ngIf="loggeduser"
          class="btn btn-outline-success my-2 my-sm-0"
          type="submit"
          (click)="onLogout()"
        >
          Logout
        </button></a
      >
    </form>
  </div>
</nav>
