.bg {
  background-color: #3f51b5;
  /* background-image: url("src/assets/flight_background.\jpg"); */
  border-radius: 50px;
}
label {
  display: block;
  font: 1rem "Fira Sans", sans-serif;
}

input,
label {
  margin: 0.4rem 0;
}

.input-group-addon {
  color: #ff0000;
  background-color: #ffffff;
}
.label_color {
  color: white;
}

input.ng-invalid.ng-touched {
  border: 1px solid red;
  box-shadow: 0px 2px red;
}

.bg1 {
  color: #3f51b5;
  background-color: rgba(255, 255, 255, 0.924);
  /* background-image: url("src/assets/flight_background.\jpg"); */
  border-radius: 50px;
  box-shadow: 0 0 8px 3px #3f51b5;
}
