
<div class="card m-4 bg">
  <div class="card-body">
    <h4 class="card-title text-light text-center">
      Flight Ticket Booking
    </h4>
    <ng-container *ngIf="flightbookform.invalid && isformsubmitted">
      <div class="alert alert-danger text-center hd" role="alert">
        Please Fill Up Details For Flight Booking
      </div>
    </ng-container>
    <form
      [formGroup]="flightbookform"
      (ngSubmit)="onBookFlight(flightbookform)"
    >
      <div style="color:white" class="form-group offset-1 row">
        <div style="color:white" class="col-md-5 mx-3">
          <div class="form-check-inline">
            <input
              formControlName="tripType"
              class="trip"
              type="radio"
              value="round-trip"
              ng-checked
            />
            <label>Round-Trip</label>
          </div>
          <div class="form-check-inline">
            <input
              formControlName="tripType"
              class="trip"
              type="radio"
              value="one-way"
            />
            <label>One-way</label>
          </div>
        </div>
      </div>

      <div class="row  offset-1">
        <div class="col-md-5 m-1">
          <input
            id="source_id"
            type="text"
            class="form-control m-2"
            formControlName="fromPlace"
            placeholder="Source"
            list="cities"
          />
          <datalist id="cities">
            <option class="form-control m-2" value="ahmedabad"
              >ahmedabad</option
            >
            <option class="form-control m-2" value="junaghad">junaghad</option>
            <option class="form-control m-2" value="rajkot">rajkot</option>
            <option class="form-control m-2" value="bombay">bombay</option>
            <option class="form-control m-2" value="vadodara">vadodara</option>
            <option class="form-control m-2" value="pune">pune</option>
            <option class="form-control m-2" value="surat">surat</option>
            <option class="form-control m-2" value="delhi">delhi</option>
          </datalist>
        </div>
        <div class="col-md-5 m-1">
          <input
            type="text"
            class="form-control m-2"
            formControlName="toPlace"
            placeholder="Destination"
            list="cities"
          />
          <datalist id="cities">
            <option class="form-control m-2" value="junaghad">junaghad</option>
            <option class="form-control m-2" value="rajkot">rajkot</option>
            <option class="form-control m-2" value="bombay">bombay</option>
            <option class="form-control m-2" value="vadodara">vadodara</option>
            <option class="form-control m-2" value="pune">pune</option>
            <option class="form-control m-2" value="surat">surat</option>
            <option class="form-control m-2" value="delhi">delhi</option>
          </datalist>
        </div>
      </div>

      <div class="row offset-1 ">
        <div class="col-md-3 m-1">
          <label class="text-center  label_color">Departure Date</label>
          <input
          style="user-select: none;"
            id="myDate1"
            type="date"
            class="form-control m-1"
            formControlName="travelDate"
            placeholder="Date"
          />
        </div>

        <div
          *ngIf="flightbookform.get('tripType').value === 'round-trip'"
          class="col-md-3 m-1"
        >
          <label class="text-center label_color">Return Date</label>
          <input
            id="myDate2"
            type="date"
            class="form-control m-1"
            formControlName="returnDate"
          />
        </div>

        <div class="col-md-4 m-1">
          <label class="text-center label_color">Select Class</label>
          <select
            id="inputState"
            formControlName="travelClass"
            class="form-control"
          >
            <option value="economy" selected>Economy</option>
            <option>...</option>
          </select>
        </div>
      </div>

      <div class="row offset-1">
        <div class="col-md-3 m-1">
          <br />
          <input
            type="number"
            min="0"
            max="6"
            formControlName="adultsCount"
            class="form-control m-2"
            placeholder="Adults"
          />
        </div>
        <div class="col-md-3 m-1">
          <br />
          <input
            type="number"
            min="0"
            formControlName="childrenCount"
            max="6"
            class="form-control m-2"
            placeholder="Children"
          />
        </div>
        <div class="col-md-4 m-1">
          <br />
          <input
            type="number"
            min="0"
            formControlName="infantsCount"
            max="6"
            class="form-control m-2"
            placeholder="Infant"
          />
        </div>
        <div class="row offset-4">
          <div class="col-md-4 m-1">
            <br />
            <!-- <input type="text" class="form-control m-2" placeholder="Flying Form" /> -->
            <input
              type="submit"
              value="Book Flight"
              class="btn btn-success text-center"
            />
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
<div #mybox></div>
<ng-container *ngFor="let flightbookingdata of flightbook">
  <div class="card m-5 bg1">
    <div class="card-body">
      <div class="row">
        <div class="col-md-12">
          <h5 class="card-title text-center">
            {{ flightbookingdata.travelClass | uppercase }}
          </h5>
        </div>
      </div>
      <div class="row">
        <div class="col-4 text-left">
          {{ flightbookingdata.fromPlace | uppercase }}
        </div>
        <div class="col-4 text-center">
          <i class="material-icons">compare_arrows</i>
        </div>

        <div class="col-4 text-right">
          {{ flightbookingdata.toPlace | uppercase }}
        </div>
      </div>
      <div class="row">
        <div class="col-6 text-left">
          {{ flightbookingdata.travelDate | uppercase }}
        </div>

        <div class="col-6 text-right">
          {{ flightbookingdata.returnDate | uppercase }}
        </div>
      </div>
      <div class="row">
        <div class="col-4 text-left">
          <small>Adults :</small>{{ flightbookingdata.adultsCount }}
        </div>
        <div class="col-4 text-center">
          <small>Children:</small> {{ flightbookingdata.childrenCount }}
        </div>

        <div class="col-4 text-right">
          <small>Infants:</small> {{ flightbookingdata.infantsCount }}
        </div>
      </div>
      <hr class="m-5" />
      <div class="row">
        <div class="col-6 text-left">
          <small>Status :</small>{{ flightbookingdata.status }}
        </div>
      </div>
    </div>
  </div>
</ng-container>
<!-- 
 <div class="container" style="margin-top: 100px;">
  <input
    type="text"
    class="form-control"
    id="datepicker"
    style="width: 300px;"
  />
  <br />
  <input
    type="text"
    class="form-control"
    data-provide="datepicker"
    style="width: 300px;"
  />
</div>
 <input [matDatepicker]="myDatepicker" />
<mat-datepicker #myDatepicker></mat-datepicker>  -->
