<div class="container-login d-flex flex-column justify-content-center">
  <div class="container h-100">
    <div class="row h-100 justify-content-center align-items-center">
      <div class="col-md-8">
        <div class="card shadow-lg">
          <div class="card-body">
            <div>
              <button
                class="close"
                type="button"
                (click)="onClose()"
                aria-label="Close"
              >
                <span aria-hidden="true">×</span>
              </button>
            </div>
            <form
              [formGroup]="registerform"
              (ngSubmit)="onRegisterUser(registerform)"
            >
              <h1 class="text-success text-center">Registration</h1>
              <div class="form-row">
                <div class="col">
                  <input
                    type="text"
                    formControlName="first_name"
                    class="form-control"
                    placeholder="First Name"
                  />
                  <small
                    *ngIf="
                      !registerform.get('first_name').valid &&
                      registerform.get('first_name').touched
                    "
                    >*Please Enter Correct First Name</small
                  >
                </div>
                <div class="col">
                  <input
                    type="text"
                    formControlName="last_name"
                    class="form-control"
                    placeholder="Last Name"
                  />
                  <small
                    *ngIf="
                      !registerform.get('last_name').valid &&
                      registerform.get('last_name').touched
                    "
                    >*Please Enter Correct Last Name</small
                  >
                </div>
              </div>
              <div class="form-row my-2">
                <div class="col">
                  <input
                    type="text"
                    formControlName="email"
                    class="form-control"
                    placeholder="Email"
                    email
                  />
                  <small
                    *ngIf="
                      !registerform.get('email').valid &&
                      registerform.get('email').touched
                    "
                    >*Please Enter Valid Email Address</small
                  >
                </div>
              </div>
              <div class="form-row my-2">
                <div class="col">
                  <input
                    type="password"
                    pattern=".{8,}"
                    formControlName="password"
                    class="form-control"
                    placeholder="Password"
                  />
                  <small
                    *ngIf="
                      !registerform.get('password').valid &&
                      registerform.get('password').touched
                    "
                    >*Please Enter Password</small
                  >
                </div>
              </div>
              <div class="form-row my-2">
                <div class="col">
                  <input
                    type="password"
                    formControlName="confrim_password"
                    class="form-control"
                    placeholder="Confirm Password"
                  />

                  <small
                    *ngIf="
                      registerform.get('confrim_password').value !==
                      registerform.get('password').value
                    "
                  >
                    *Password is not match. Please Re-Enter Password</small
                  >
                </div>
              </div>
              <div class="form-row my-2">
                <div class="col">
                  <div class="text-left">
                    <input
                      type="radio"
                      class="gender"
                      formControlName="gender"
                      formclass="form-control"
                      value="Male"
                      checked
                    />Male
                    <input
                      type="radio"
                      class="gender"
                      formControlName="gender"
                      formclass="form-control"
                      value="Female"
                    />Female
                  </div>
                </div>
              </div>
              <div class="form-row my-2">
                <div class="col">
                  <input
                    type="text"
                    pattern=".{10}"
                    formControlName="mobile_number"
                    class="form-control"
                    placeholder="Mobile Number"
                  />
                  <small
                    *ngIf="
                      !registerform.get('mobile_number').valid &&
                      registerform.get('mobile_number').touched
                    "
                    >*Please Enter Valid Mobile Number</small
                  >
                </div>
              </div>
              <div class="text-center">
                <button
                  type="submit"
                  class="m-2 btn btn-success"
                  [disabled]="!registerform.valid"
                >
                  Register
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
